<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eiffage.companias">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="signature" /> <!-- <uses-feature android:name="android.hardware.camera2" /> -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_companias"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icono_companias"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DocumentacionGeneralV2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.DetalleTarea"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="Informes"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.Login"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Menu"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.CerrarSesion"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MisTareas"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.MisPedidos"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.LineasPedido"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Activities.Documentacion"
            android:configChanges="screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.eiffage.companias"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".Objetos.MyProvider"
            android:authorities="com.eiffage.companias"
            android:exported="false"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".Activities.FotoPantallaCompleta"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.PDFViewer"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".Activities.MisAverias"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activities.CrearAveria"
            tools:ignore="InnerclassSeparator"
            android:label="Crear nueva avería" />
        <activity android:name=".Activities.DelegarTarea" />
        <activity android:name=".Activities.TareasAverias" />
        <activity android:name=".DocumentacionGeneral"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.NuevaFoto"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".Activities.TareasTerminadas"
            tools:ignore="InnerclassSeparator"/>
    </application>

</manifest>